<div mat-dialog-title>
	<h1>Inspection Form</h1>
</div>
<form [formGroup]="inspectionForm" (ngSubmit)="onFormSubmit()">
	<div mat-dialog-content class="content">
		<div class="row">
				<mat-radio-group aria-label="Select an option" formControlName="type">
						<mat-label><b>Type</b></mat-label>
						<mat-radio-button value="PROACTIVE">PROACTIVE</mat-radio-button>
						<mat-radio-button value="SPOT">SPOT</mat-radio-button>
						<mat-radio-button value="REGULAR">REGULAR</mat-radio-button>
						<mat-radio-button value="SPECIAL">SPECIAL</mat-radio-button>
				</mat-radio-group>
		</div>
		<div class="row">
				<mat-form-field appearance="outline">
						<mat-label>Team</mat-label>
						<mat-select formControlName="team_id">
							<mat-option *ngFor="let val of members" [value]="val.id">{{val.members}}
							</mat-option>
						</mat-select>
				</mat-form-field>
				
				<mat-form-field appearance="outline">
					<mat-label>Date</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="datetime">
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>

		<div class="row">
				<mat-form-field appearance="outline">
						<mat-label>Unit</mat-label>
						<input matInput placeholder="Ex. QCP" formControlName="unit">
				</mat-form-field>
				<mat-form-field appearance="outline">
						<mat-label>Deployment of personel</mat-label>
						<input matInput placeholder="Ex. CMFC CAGAYAN DE ORO CPO" formControlName="deployment_of_personel">
				</mat-form-field>
		</div>


		<div class="row">
			<mat-form-field appearance="outline">
					<mat-label>Other inspection conducted</mat-label>
					<input matInput placeholder="Ex. PRO 10" formControlName="other_inspection_conducted">
			</mat-form-field>
			<mat-form-field appearance="outline">
					<mat-label>Location</mat-label>
					<input matInput placeholder="Ex. OPOL QCP, CAGAYAN DE ORO CITY" formControlName="location">
			</mat-form-field>
		</div>

		<h3>Accounting of Personel</h3>
		<div class="row">
				<mat-form-field appearance="outline">
						<mat-label>TS</mat-label>
						<input matInput placeholder="Ex. 0" type="number" formControlName="ts">
				</mat-form-field>
				<mat-form-field appearance="outline">
						<mat-label>AP</mat-label>
						<input matInput placeholder="Ex. 0" type="number" formControlName="ap">
				</mat-form-field>
				<mat-form-field appearance="outline">
						<mat-label>AA</mat-label>
						<input matInput placeholder="Ex. 0" type="number" formControlName="aa">
				</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field appearance="outline">
					<mat-label>Dispatched</mat-label>
					<input matInput placeholder="Ex. 0" type="number" formControlName="dispatched">
			</mat-form-field>
			<mat-form-field appearance="outline">
					<mat-label>Absent</mat-label>
					<input matInput placeholder="Ex. 0" type="number" formControlName="absent">
			</mat-form-field>
		</div>
	</div>
	<div mat-dialog-actions class="action">
			<button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
			<button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
	</div>
</form>