<router-outlet></router-outlet>
<!--[if lt IE 8]>
	<p class="browserupgrade">
		You are using an <strong>outdated</strong> browser. Please
		<a href="http://browsehappy.com/">upgrade your browser</a> to improve
		your experience.
	</p>
<![endif]-->
<div class="preloader"><div class="loaded">&nbsp;</div></div>
<header id="main_menu" class="header navbar-fixed-top">
	<div class="main_menu_bg">
		<div class="container">
			<div class="row">
				<div class="nave_menu">
					<nav class="navbar navbar-default" id="navmenu">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#home">
									<img class="ias-logo" src="assets/images/logo.orig.png" />
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
								<ul class="nav navbar-nav navbar-right">
									<li><a [routerLink]="['']" fragment="home">Home</a></li>
									<li><a [routerLink]="['']" fragment="investigation">investigations</a></li>
									<li><a [routerLink]="['']" fragment="transparency">transparency</a></li>
									<li><a [routerLink]="['']" fragment="policies">policies</a></li>
									<li><a [routerLink]="['']" fragment="about">About us</a></li>
									<li><a [routerLink]="['']" fragment="contact">Contact</a></li>
									<li><a href="http://localhost:4200">Portal</a></li>
									<li>
										<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
											<span class="glyphicon glyphicon-search"></span>
										</a>
										<ul class="dropdown-menu">
											<li>
												<form class="navbar-form" role="search">
													<div class="form-group">
														<input
															type="text"
															class="form-control"
															placeholder="Search"
														/>
													</div>
												</form>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End of header -->

<section id="home" class="home">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="main_home_slider">
						<!-- <div class="single_home_slider">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>COOKING SCHOOL FREE LEARNING HUB</h1>
								<p class="subtitle">graphicsdrawer.com</p>

								<div class="home_btn">
									<a href="" class="btn btn-primary">LEARN MORE</a>
								</div>
							</div>
						</div>
						<div class="single_home_slider">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>COOKING SCHOOL FREE PSD TEMPLATE</h1>
								<p class="subtitle">graphicsdrawer.com</p>

								<div class="home_btn">
									<a href="" class="btn btn-primary">LEARN MORE</a>
								</div>
							</div>
						</div>
						<div class="single_home_slider">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>COOKING SCHOOL FREE PSD TEMPLATE</h1>
								<p class="subtitle">graphicsdrawer.com</p>

								<div class="home_btn">
									<a href="" class="btn btn-primary">LEARN MORE</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="service" class="service">
	<div class="container">
		<div class="row">
			<div class="service_border_raund text-center"></div>
			<div class="main_service_area sections text-center">
				<div class="head_title text-center">
					<h2>what we do?</h2>
					<div class="separator"></div>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<img src="assets/images/service1.png" alt="" />
						</div>

						<h3>Vision</h3>
						<p>
							To promote integrity and accountability within the organization and to maintain public trust.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<img src="assets/images/service.png" alt="" />
						</div>

						<h3>Mission</h3>
						<p>
							To conduct thorough and impartial investigations of allegations of misconduct, corruption, or other violations of organizational policies and regulations.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<img src="assets/images/service1.png" alt="" />
						</div>

						<h3>Core</h3>
						<p>
							Integrity,
							Impartiality,
							Accountability,
							Professionalism,
							Respect,
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="investigation" class="choose greenbackground">
	<div class="container">
		<div class="row">
			<div class="main_choose_area sections text-center">
				<div class="lesson_title">
					<!-- <p>Conducting investigations</p> -->
				</div>
				<div class="main_choose_content">
					<div class="single_choose_content">
						<div class="singel_choose_img">
							<img src="assets/images/choose.png" alt="" />
						</div>

						<h2>Conducting investigations</h2>
						<p>
							The IAS is responsible for investigating allegations of misconduct, corruption, or other violations of organizational policies and regulations. Investigations may involve gathering evidence, interviewing witnesses, and making recommendations for disciplinary action.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="transparency" class="about">
	<div class="container">
		<div class="row">
			<div class="main_about sections">
				<div class="head_title text-center">
					<h2>Transparency</h2>
					<div class="separator"></div>
				</div>

				<div class="main_about_content_area">
					<div class="single_about_left_img">
						<img src="assets/images/ab.jpg" alt="" />
					</div>

					<!-- bar 1 -->
					<div class="col-sm-8 col-sm-offset-4">
						<div class="single_about_right_content">
							<div class="demo4">
								<div class="right_single_about_skill">
									<div class="right_about_top_cotent">
										<div class="right_about_top_img">
											<img src="assets/images/s_ab.png" alt="" />
										</div>
										<div class="right_about_top_content">
											<h3>Investigation province 1</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing
												elit. In consectetur convallis nunc, at ullamcorper
												turpis gravida nec. Praesent eu ultrices nunc.
											</p>
										</div>
									</div>
									<div class="right_about_bottom_cotent">
										<!-- bar 1 -->
										<div class="progress-bar4" data-percentage="76%">
											<h4 class="progress-title-holder">
												<span class="progress-number-wrapper">
													<span class="progress-number-mark">
														<span class="percent"></span>
														<span class="down-arrow"></span>
													</span>
												</span>
											</h4>
											<div class="progress-content-outter">
												<div class="progress-content"></div>
											</div>
										</div>
									</div>
								</div>

								<div class="right_single_about_skill">
									<div class="right_about_top_cotent">
										<div class="right_about_top_img">
											<img src="assets/images/s_ab.png" alt="" />
										</div>
										<div class="right_about_top_content">
											<h3>Investigation province 2</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing
												elit. In consectetur convallis nunc, at ullamcorper
												turpis gravida nec. Praesent eu ultrices nunc.
											</p>
										</div>
									</div>
									<div class="right_about_bottom_cotent">
										<!-- bar 2 -->
										<div class="progress-bar4" data-percentage="43%">
											<h4 class="progress-title-holder">
												<span class="progress-number-wrapper">
													<span class="progress-number-mark">
														<span class="percent"></span>
														<span class="down-arrow"></span>
													</span>
												</span>
											</h4>
											<div class="progress-content-outter">
												<div class="progress-content"></div>
											</div>
										</div>
									</div>
								</div>

								<div class="right_single_about_skill">
									<div class="right_about_top_cotent">
										<div class="right_about_top_img">
											<img src="assets/images/s_ab.png" alt="" />
										</div>
										<div class="right_about_top_content">
											<h3>Investigation province 3</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing
												elit. In consectetur convallis nunc, at ullamcorper
												turpis gravida nec. Praesent eu ultrices nunc.
											</p>
										</div>
									</div>
									<div class="right_about_bottom_cotent">
										<!-- bar 3 -->
										<div class="progress-bar4" data-percentage="92%">
											<h4 class="progress-title-holder">
												<span class="progress-number-wrapper">
													<span class="progress-number-mark">
														<span class="percent"></span>
														<span class="down-arrow"></span>
													</span>
												</span>
											</h4>
											<div class="progress-content-outter">
												<div class="progress-content"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="policies" class="newsletter text-center">
	<div class="container">
		<div class="row">
			<div class="main_newsletter sections">
				<div class="col-sm-12">
					<div class="single_newsletter_head">
						<h2>POLICIES</h2>
						<p>
							Suspendisse ac nulla eros. Vestibulum elementum placerat erat
							ac maximus. Aliquam quis nisi quis arcu dapibus ornare. Donec
							vel ex urna. Ut in odio ultricies mauris fringilla placerat
							commodo in augue.
						</p>
					</div>

					<div class="single_sewsletter_content">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="form-group">
									<input
										type="text"
										class="form-control"
										name="name"
										placeholder="first name"
										required=""
									/>
									<input
										type="submit"
										value="SUBSCRIBE"
										class="btn btn-primary"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="about" class="blog">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="main_blog_area text-center sections">
					<div class="head_title">
						<h2>LATEST FROM BLOG</h2>
						<div class="separator"></div>
						<p>
							Suspendisse ac nulla eros. Vestibulum elementum placerat erat
							ac maximus. Aliquam quis nisi quis arcu dapibus ornare. Donec
							vel ex urna. Ut in odio ultricies mauris fringilla placerat
							commodo in augue.
						</p>
					</div>

					<div class="main_blog_content">
						<ul class="main_blog">
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
							<li class="single_blog_content">
								<h4>READ THIS FIRST</h4>
								<h6><i class="fa fa-clock-o"></i> 4 day ago</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									In consectetur convallis nunc.
								</p>

								<div class="separator3"></div>

								<p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
							</li>
						</ul>
					</div>

					<div class="blog_btn">
						<a href="" class="btn btn-primary">VIEW ALL POSTS</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="testimonial" class="testimonial greenbackground">
	<div class="container">
		<div class="row">
			<div class="main_testimonial sections">
				<div class="head_title text-center">
					<p>About us</p>
				</div>
				<div class="col-md-12" data-wow-delay="0.2s">
					<div
						class="carousel slide"
						data-ride="carousel"
						id="quote-carousel"
					>
						<!-- Bottom Carousel Indicators -->
						<ol class="carousel-indicators">
							<li
								data-target="#quote-carousel"
								data-slide-to="0"
								class="active"
							>
								<img
									class="img-responsive"
									src="assets/images/team.jpg"
									alt=""
								/>
							</li>
							<li data-target="#quote-carousel" data-slide-to="1">
								<img
									class="img-responsive"
									src="assets/images/team.jpg"
									alt=""
								/>
							</li>
							<li data-target="#quote-carousel" data-slide-to="2">
								<img
									class="img-responsive"
									src="assets/images/team.jpg"
									alt=""
								/>
							</li>
							<li data-target="#quote-carousel" data-slide-to="3">
								<img
									class="img-responsive"
									src="assets/images/team.jpg"
									alt=""
								/>
							</li>
						</ol>

						<!-- Carousel Slides / Quotes -->
						<div class="carousel-inner text-center">
							<!-- Quote 1 -->
							<div class="item active">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<p class="impress">PERSON INCHARGE</p>
											<div class="whiseparator"></div>
											<small>Someone</small>
										</div>
									</div>
								</blockquote>
							</div>
							<!-- Quote 2 -->
							<div class="item">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<p class="impress">IAS HEAD</p>
											<div class="whiseparator"></div>
											<small>Someone</small>
										</div>
									</div>
								</blockquote>
							</div>
							<!-- Quote 3 -->
							<div class="item">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<p class="impress">INSPECTATOR</p>
											<div class="whiseparator"></div>
											<small>Someone</small>
										</div>
									</div>
								</blockquote>
							</div>
							<!-- Quote 4 -->
							<div class="item">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<p class="impress">REGIONAL OFFICE</p>
											<div class="whiseparator"></div>
											<small>Someone</small>
										</div>
									</div>
								</blockquote>
							</div>
						</div>

						<!-- Carousel Buttons Next/Prev -->
						<!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
														 <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="counter" class="counter">
	<div class="container-fluid">
		<div class="row">
			<div class="main_counter sections">
				<div class="single_left_counter_bg">
					<div class="col-sm-12 col-xs-12">
						<div class="single_counter_left">
							<h2>
								AIS <br />
								VISITOR <br />
								MONITORING
							</h2>
							<p>Internal Affairs Service</p>
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-xs-12">
					<div class="single_counter_right_area text-center">
						<div class="row">
							<div class="col-sm-6">
								<div class="single_counter_right">
									<i class="fa fa-comments-o"></i>
									<h2 class="statistic-counter">423</h2>
									<p>VISITORS</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="single_counter_right">
									<i class="fa fa-life-ring"></i>
									<h2 class="statistic-counter">1,423</h2>
									<p>USERS</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="footer_widget">
	<div class="container">
		<div class="row">
			<div class="main_widget">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<h4 class="footer_title">CONTACT</h4>
							<div class="separator4"></div>
							<ul>
								<li>
									<a href=""
										><i class="fa fa-envelope"></i> messagecenter.ias@pnp.gov.ph</a
									>
								</li>
								<li>
									<a href=""
										><i class="fa fa-phone"></i> (+632) 8723-04-01</a
									>
								</li>
								<li>
									<a href=""
										><i class="fa fa-map-marker"></i> Tuguegarao City,
										Cagayan 3500</a
									>
								</li>
								<li>
									<a href=""
										><i class="fa fa-fax"></i> +6387230401</a
									>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-4 col-xs-12">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<h4 class="footer_title">LATEST NEWS</h4>
							<div class="separator4"></div>

							<div class="footer_gellary">
								<img src="assets/images/fg1.jpg" alt="" />
								<img src="assets/images/fg2.jpg" alt="" />
								<img src="assets/images/fg3.jpg" alt="" />
								<img src="assets/images/fg4.jpg" alt="" />
								<img src="assets/images/fg5.jpg" alt="" />
								<img src="assets/images/fg6.jpg" alt="" />
								<img src="assets/images/fg7.jpg" alt="" />
								<img src="assets/images/fg8.jpg" alt="" />
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-xs-12">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<div class="footer_logo">
								<img src="assets/images/footerlogo.png" alt="" />
							</div>
							<p>
								This is the official page of the IAS-PNP. This page is maintained by the National IAS Headquarters. You may reach us via the National Headquarters trunkline (+632) 8723-04-01. For case concerns, contact local # 6653 & for general concerns local # 6665.
							</p>

							<a class="weblink" href="">ias.pnp.com.ph</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer">
	<div class="container">
		<div class="main_footer">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="copyright_text">
						<p class="wow fadeInRight" data-wow-duration="1s">
							<!-- Made with <i class="fa fa-heart"></i> by
							<a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. -->
							All Rights Reserved 2023
						</p>
					</div>
				</div>

				<div class="col-sm-6 col-xs-12">
					<div class="footer_socail">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-rss"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>