<div mat-dialog-title>
	<h1>Member Form</h1>
</div>
<form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">
	<div mat-dialog-content class="content">
			<div class="row">
					<mat-form-field appearance="outline">
							<mat-label>Team name</mat-label>
							<input matInput type="text" placeholder="Ex. RIAS" formControlName="team_name">
					</mat-form-field>
			</div>

			<div class="row">
					<mat-form-field appearance="outline">
							<mat-label>Members</mat-label>
							<input matInput type="email" placeholder="Ex. Juan,Jose,Maria" formControlName="members">
					</mat-form-field>
			</div>

			<div class="row">
					<mat-form-field appearance="outline">
							<mat-label>Select account</mat-label>
							<mat-select formControlName="userid">
									<mat-option *ngFor="let val of users" [value]="val.id">{{val.email}}
									</mat-option>
							</mat-select>
					</mat-form-field>
			</div>
	</div>
	<div mat-dialog-actions class="action">
			<button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
			<button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
	</div>
</form>